/*
	flex-wrap:wrap(flex:1) = para crear una galaria de imagenes 
	flex-grow :1 = para los items  , permite ocupar los espacion que sobram  
	:focus = imput 
	*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

/*
.contenedor{
	width: 100%;
	background-color: aqua;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.b{
	min-width: 200px;
	height: 200px;
	background: orange;
	margin: 20px;
	flex:1
}

.blue{
	background: blue;
}
.green{
	background: green;

}*/



/*
.contenedor{
	width: 100%;
	background: cadetblue;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.imagen{
	min-width: 250px;
	margin: 20px;
}

.imagen img{
	width: 100%;
	height: 100%;
}*/

.pagina{
	width: 100%;
	min-height: 100vh;
	background: black;
}

.galeria{
	width: 100%;
	padding: 30px;
	margin: auto;
}

.galeria h1{
	text-align: center;
	font-size: 50px;
	padding: 40px 0;
	color: white;
}

.cotent__imagenes{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	
}

.imagn{
	min-width: 240px;
	margin:5px;	
	overflow: hidden;
	flex: 1;
	position: relative;
	border: 1px solid whitesmoke;
}

.imagn img{
	width: 100%;
	height: 100%;
}

.imagn img:hover{
	transform: scale(1.2);

}

.imagn:hover img{
	transform: scale(1.2);
	transition: all .4s ease;
}

.imagn::before{
	content: "";
	background: linear-gradient( rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.863)70% );
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
}


.imagn:hover::before{
	opacity: 1;
	transition: all .4s ease;
	z-index: 1;
}


.descrip{
	position: absolute;
	padding: 10px;
	bottom: 0;
	opacity: 0;
}

.descrip label{
	color: white;
	display: inline-block;      
}

.descrip a{
	display: inline-block;
	background: white;
	padding: 10px;
	text-decoration: none;
	margin: 10px 0;
}

.imagn:hover .descrip{
	opacity: 1;
	z-index: 2;
	transition: all .2s ease;
}


